@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@media screen and (min-width: 0px) and (max-width: 768px) {
  #laptop_header,
  #Header_info_for_Laptop {
    display: none;
  }

  #mobile_header,
  #Header_info_for_Mobile {
    display: block;
  }

  .pivot_body_for_mobile {
    display: block;
  }

  .pivot_body_for_laptop {
    display: none;
  }

  .Time_Interval,
  .Symbol {
    align-items: center !important;
    padding-left: 35px !important;
  }

  #transparentcontainer2 form {
    margin: 16px !important;
  }

  #HDfandotimestamp,#DeliverySpikeTimestamp{
    margin-right: 0 !important;
    /* padding-left: 0 !important; */
    padding-right: 0 !important;
    justify-content: start !important;
  }
}

@media screen and (min-width: 768px) {
  #laptop_header,
  #Header_info_for_Laptop {
    display: block;
  }

  #mobile_header,
  #Header_info_for_Mobile {
    display: none;
  }

  .Cal_Des,
  .Cal_Body,
  .Cal_Body_1,
  .Highest_Delivery_Menu,
  .Delivery_Spike_Menu {
    margin-left: 10px !important;
  }

  .pivot_body_for_mobile {
    display: none;
  }

  .pivot_body_for_laptop {
    display: block;
  }
}

@media screen and (min-width: 1500px) {
  .footer p {
    font-size: 14px !important;
  }

  .footer a {
    font-size: 14px !important;
  }

  .copyright {
    font-size: 14px !important;
  }
}

.Cal_Des,
.Cal_Des_1,
.Cal_Des_Widget {
  border: 1px solid white;
  margin-top: 0px;
  border-radius: 10px;
  border-top-color: #324ed4;
  border-top-width: 7px;
  background-color: white;
  font-family: "Outfit", sans-serif;
}

.Highest_Delivery_Menu,
.Delivery_Spike_Menu {
  border: 1px solid white;
  margin-top: 0px;
  border-radius: 10px;
  border-top-color: #324ed4;
  border-top-width: 7px;
  background-color: white;
  font-family: "Outfit", sans-serif;
}

.Cal_Body {
  border: 1px solid white;
  margin-top: 20px;
  border-radius: 10px;
  border-top-color: #324ed4;
  border-top-width: 7px;
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 8px;
  font-family: "Outfit", sans-serif;
}

.Cal_Body_1 {
  border: 1px solid white;
  margin-top: 20px;
  border-radius: 10px;
  border-top-width: 7px;
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 8px;
  font-family: "Outfit", sans-serif;
}

#Cal_btn,
#Scanner_btn,
#Data_btn {
  border: 1px solid white;
  border-radius: 10px;
  border-top: solid #324ed4;
  border-top-width: 7px;
  background-color: white;
  height: 3rem;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  color: #324ed4;
  padding: 9px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  /* box-shadow: 0 0 2px 2px #dedede !important; */
}

.link2_btn,
.link3_btn {
  border: 1px solid rgb(235, 231, 231);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left-width: 1px;
  background-color: white;
  text-align: center;
  padding: 12px;
  color: #888888;
  background-color: rgb(245, 245, 245);
  border-top-width: 0px;
  height: 3rem;
  font-family: "Outfit", sans-serif;
  box-shadow: 0 0 2px 2px #dedede !important;
}

@media (min-width: 768px) and (max-width: 1200px) {
  
  .link2_btn,
  .link3_btn,
  #Cal_btn,
  #Scanner_btn,
  #Data_btn,
  .laptopleftpanel,
  #Scanner_opt,
  #Data_opt,
  .Right_Panel,
  .btn,
  #Header_info_for_Laptop div {
    font-size: 12px;
  }

  .laptopleftpanel div div,
  #Scanner_opt div div,
  #Data_opt div div {
    padding-top: 5% !important;
  }

  progress {
    width: 150px !important;
  }

  .pivot_body_for_laptop {
    margin: auto !important;
  }

  #FII_DII_Discription .col .row,
  #DeliveryScannerDiscription .col .row,
  .RiskCalculatorDiscription .col .row,
  .CAGRCalculatorDiscription .col .row,
  .ReverseCAGRCalculatorDiscription .col .row,
  #LaptopCAGRRadioButtonOption b,
  #LaptopRiskRadioButtonOption b,
  .pivot_body_for_laptop .row,
  .card-subtitle {
    font-size: 16px !important;
  }

  #cal_pivot {
    justify-content: center;
  }

  form,
  #Calculate_Income_Tax {
    font-size: 15px !important;
  }

  #HDIntroLaptopView .col-md-3 b,
  #HDIntroLaptopView .col span,
  .card-title,
  #DSIntroLaptopView .col-md-3 b,
  #DSIntroLaptopView .col span,
  .btn-lg-square {
    font-size: 20px !important;
  }

  h1 b {
    font-size: 25px;
  }

  #EMIchart,
  #TransparentEMIchart {
    margin-top: 0px !important;
  }

  #DSDatatables,
  .HDDatatables {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-dark .navbar-toggler {
    color: grey !important;
  }

  .link2_btn,
  .link3_btn,
  #Cal_btn,
  #Scanner_btn,
  #Data_btn,
  .laptopleftpanel,
  #Scanner_opt,
  #Data_opt,
  .Right_Panel,
  .btn,
  #Header_info_for_Laptop div {
    font-size: 11px;
  }

  .laptopleftpanel div div,
  #Scanner_opt div div,
  #Data_opt div div {
    padding-top: 6% !important;
  }

  #Delivery_Scanner_Dropdown_1,
  #Delivery_Scanner_Dropdown_2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  progress {
    width: 100px !important;
  }

  .pivot_body_for_laptop {
    margin: auto !important;
  }

  #FII_DII_Discription .col .row,
  #DeliveryScannerDiscription .col .row,
  .RiskCalculatorDiscription .col .row,
  .CAGRCalculatorDiscription .col .row,
  .ReverseCAGRCalculatorDiscription .col .row,
  #LaptopCAGRRadioButtonOption b,
  #LaptopRiskRadioButtonOption b,
  .pivot_body_for_laptop .row,
  .card-subtitle {
    font-size: 15px !important;
  }

  #cal_pivot {
    justify-content: center;
  }

  form,
  #Calculate_Income_Tax {
    font-size: 15px !important;
  }

  #HDIntroLaptopView .col-md-3 b,
  #HDIntroLaptopView .col span,
  .card-title,
  #DSIntroLaptopView .col-md-3 b,
  #DSIntroLaptopView .col span,
  .btn-lg-square {
    font-size: 17px !important;
  }

  h1 b {
    font-size: 25px;
  }

  #EMIchart,
  #TransparentEMIchart {
    margin-top: 0px !important;
  }

  #mainbody,#Cal_Des_Widget {
    width: 100% !important;
    max-width: 100% !important;
  }

  #DSDatatables,
  .HDDatatables {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .pivot_body_for_laptop input {
    width: 100px !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
  }

  #Income_TaxForm form span,
  #Income_TaxForm form label {
    font-size: 15px !important;
  }

  #CAGRAnswerinLabel {
    margin-left: 1rem;
  }
}

#Cal_btn:hover,
#Scanner_btn:hover,
#Data_btn:hover,
.link2_btn:hover,
.link3_btn:hover {
  text-decoration: underline;
}

#cal_opt,
#Scanner_opt,
#Data_opt {
  border: 3px solid white;
  border-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  height: 30rem;
  /* width: 10rem; */
  width:100%;
  border-top-left-radius: 0%;
  font-family: "Outfit", sans-serif;
}

.cal_opt_mobile {
  border-radius: 5px;
  margin: 20px;
  padding-top: 10px;
}

.vertical {
  border-right: 3px solid #888888;
  margin: 0px auto;
}

.vertical1 {
  border-right: 3px solid #888888;
  margin: 0px auto;
}

.vertical2,
.vertical3 {
  border-right: 3px solid #888888;
  margin-top: auto;
  margin-bottom: auto;
}

#Amountatrisk1,
#Amountatrisk2,
#Nooflots2,
#Totalquantity1,
#Totalquantity2 {
  font-size: 25px;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
}

#Invested_Amount,
#Monthly_EMI,
#Principal_Amount,
#Total_Interest,
#Total_Amount,
#Estimate_Returns,
#Total_Value {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
}

#Amountatrisk1:hover,
#Amountatrisk2:hover,
#Nooflots2:hover,
#Totalquantity1:hover,
#Invested_Amount:hover,
#Estimate_Returns:hover,
#Total_Value:hover,
#Monthly_EMI:hover,
#Principal_Amount:hover,
#Total_Interest:hover,
#Total_Amount:hover,
#Totalquantity2:hover {
  border: none;
}

.FObtn,
.Equitybtn,
.ReverseCAGRbtn,
.CAGRbtn {
  background-color: #324ed4;
  color: white;
  font-family: "Outfit", sans-serif;
}

.Equitybtn:hover,
.FObtn:hover,
.CAGRbtn:hover,
.ReverseCAGRbtn:hover {
  color: white;
}

.Equitybtn:active,
.FObtn:active,
.CAGRbtn:active,
.ReverseCAGRbtn:active {
  color: white;
}

.boxshadow {
  box-shadow: 0 0 4px 4px #dedede;
}

.top-advertisement {
  height: 100px;
  border-radius: 10px;
}

.left-advertisement {
  height: 200px;
  border-radius: 10px;
}

#Delivery_Scanner_Dropdown_1:hover,
#Delivery_Scanner_Dropdown_2:hover {
  text-decoration: underline;
}

.HDDatatables {
  overflow-y: auto;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

#DSDatatables {
  overflow-y: auto;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

#DSDatatables #deliveryspikenifty500 #DSdataniftyonly .DSNIFTY {
  padding-right: 0px;
}

#DSDatatables #deliveryspikefando #DSdatafandoonly .DSFO {
  padding-right: 0px;
}

#ChartDatatable {
  overflow-y: auto;
}

table.dataTable tr.odd {
  background-color: rgb(240, 240, 240);
  color: #324ed4;
  font-weight: bold;
}

table.dataTable tr.even {
  background-color: white;
  color: #324ed4;
  font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 8px 5px !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 5px !important;
}

table#ChartDatatable_1 tr {
  background-color: white;
  color: #797979;
}

table#Tableheader td {
  background-color: white;
  color: green;
}

table#Tableheader {
  border: none;
}

#HDdataonly {
  color: #324ed4;
  font-weight: bold;
}

progress {
  border: none;
  background: #e7e7e7;
  color: #e7e7e7;
  border-radius: 25px;
  width: 190px;
  margin-left: 20px;
}

progress::-moz-progress-bar {
  background: #324ed4;
  border-radius: 25px;
}

progress::-webkit-progress-value {
  background: #324ed4;
  border-radius: 25px;
}

progress::-webkit-progress-bar {
  background: #e7e7e7;
  border-radius: 25px;
}

.form1 {
  color: red;
}

#highestdeliverynifty500 td:nth-of-type(1) {
  color: black;
}

#highestdeliverynifty500 td:nth-of-type(2) {
  color: gray;
}

#highestdeliverynifty500 td:nth-of-type(3) {
  color: gray;
}

#highestdeliverynifty500 td:nth-of-type(4) {
  color: gray;
}

#highestdeliveryfando td:nth-of-type(1) {
  color: black;
}

#highestdeliveryfando td:nth-of-type(2) {
  color: gray;
}

#highestdeliveryfando td:nth-of-type(3) {
  color: gray;
}

#highestdeliveryfando td:nth-of-type(4) {
  color: gray;
}

#deliveryspikenifty500 td:nth-of-type(1) {
  color: black;
}

#deliveryspikenifty500 td:nth-of-type(2) {
  color: gray;
}

#deliveryspikenifty500 td:nth-of-type(3) {
  color: gray;
}

#deliveryspikenifty500 td:nth-of-type(4) {
  color: gray;
}

#deliveryspikefando td:nth-of-type(1) {
  color: black;
}

#deliveryspikefando td:nth-of-type(2) {
  color: gray;
}

#deliveryspikefando td:nth-of-type(3) {
  color: gray;
}

#deliveryspikefando td:nth-of-type(4) {
  color: gray;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #081452;
}

.fa-instagram {
  background: white;
  color: #081452;
}

#menu-more,
#menu-quick-links {
  padding-left: 0 !important;
}

#menu-more li,
#menu-quick-links li {
  list-style: none !important;
}

#menu-more li a,
#menu-quick-links li a {
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
  transition: 0.3s;
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  color: #ffffff;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

#footer-sidebar2 aside p {
  display: flex !important;
}

.wp-block-image {
  text-align: left !important;
}

#footer-sidebar1 p {
  width: 80% !important;
}

.pay-now {
  background: #fff;
  padding: 5px 10px;
  border-radius: 40px;
  font-size: 14px;
  display: inline-block;
  color: #081452 !important;
  text-decoration: none;
  text-align: center;
  width: 120px;
  line-height: 30px;
}

.footer p {
  font-family: Outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #fff;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #081452;
  background: #fff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer p a {
  color: #fff;
  text-decoration: none;
}

.footer h4 {
  font-family: Outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.widget-title {
  font-family: Outfit;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;
  text-transform: uppercase !important;
  color: #ffffff;
  margin-bottom: 30px !important;
}

.footer .copyright {
  padding: 10px 0;
  margin-top: 0px !important;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #adb9db;
}

.btn .btn-primary {
  color: #fff;
}

.btn-lg-square {
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
  outline: none;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.back-to-top {
  position: fixed;
  display: block;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  background: linear-gradient(90deg, #3958ec -19.27%, #253ba2 100%);
  border-radius: 100% !important;
  border: none;
}

.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.footer img {
  width: 40px;
  margin-bottom: 10px;
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li a {
  position: relative;
  margin: 0 15px;
  font-size: 16px;
  line-height: 25px;
  padding: 35px 0;
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
  text-decoration: none;
}

.menu-item-has-children:after {
  position: absolute;
  top: 7px;
  right: -10px;
  color: #263da5;
  font-weight: bold;
  font-family: "bootstrap-icons";
  content: "\f282";
  font-size: 16px;
}

.sub-menu-toggle {
  display: none;
}

.sub-menu {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  list-style: none;
  margin: 0;
  background: #fff;
  width: 180px;
  padding: 0 0 10px 0;
  border-top: 2px solid #324ed4;
  border-radius: 0 0 10px 10px;
}

.sub-menu li a {
  font-size: 14px;
  color: #324ed4;
  padding: 10px 0;
  text-decoration: none;
}

.navbar-nav li:hover .sub-menu {
  display: block;
  position: absolute;
  z-index: 1;
}

.custom-logo-link img {
  max-height: 60px !important;
}

.site-logo .custom-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--branding--logo--max-width-mobile);
  max-height: var(--branding--logo--max-height-mobile);
  height: auto;
  display: inline-block;
  width: auto;
}

@media screen and (max-width: 768px) {
  .Cal_Des,
  .Highest_Delivery_Menu,
  .Delivery_Spike_Menu {
    margin-top: 20px;
  }

  #mainrow {
    margin: 2px;
  }

  #CAGRchart {
    margin-top: 10px;
  }

  #ReverseCAGRchart {
    margin-top: 10px;
  }

  #mobileleftpanel {
    margin: auto;
    margin-top: 20px;
    padding: auto;
  }

  #ac,
  #rpt,
  #sir,
  #ia,
  #fa,
  #dur,
  #ia1,
  #cagr1,
  #dur1 {
    width: 90%;
  }

  #ac1,
  #rpt1,
  #sir1,
  #ls1 {
    width: 90%;
  }

  #mi,
  #err,
  #tp {
    width: 90%;
  }

  #Loan_Amount,
  #Rate_of_Interest,
  #Loan_Tenure {
    width: 90%;
  }

  #CAGRText,
  #ReverseCAGRText {
    margin-left: 0px !important;
  }

  #CAGRAnswerinLabel,
  #ReverseCAGRanswerinLabel {
    width: 50%;
    margin: auto;
  }

  .left-advertisement {
    height: 75px;
  }

  #cal_opt {
    height: 175px;
  }

  .answercagr {
    margin-top: 12px;
  }

  .Cal_Des {
    min-height: auto;
  }

  #SIPForm,
  #EMIForm,
  #Income_Tax_Form,
  #EquityForm,
  #FOForm,
  #CAGRForm,
  #ReverseCAGRForm {
    text-align: center !important;
  }

  .vertical,
  .vertical1,
  .vertical2,
  .vertical3 {
    border-bottom: solid 4px #dadada;
    border-right-color: #ffffff;
    margin-left: 25px;
  }

  #Scanner_opt {
    height: 215px;
  }

  #ChartDatatable {
    text-align: center;
  }

  #Data_opt {
    height: 100px;
    align-items: vertical;
  }

  progress {
    border: none;
    background: #e7e7e7;
    color: #e7e7e7;
    border-radius: 25px;
    width: 200px;
    margin-left: 0px !important;
  }

  progress::-moz-progress-bar {
    background: #324ed4;
    border-radius: 25px;
  }

  progress::-webkit-progress-value {
    background: #324ed4;
    border-radius: 25px;
  }

  progress::-webkit-progress-bar {
    background: #e7e7e7;
    border-radius: 25px;
  }

  .HDDatatables {
    overflow-y: auto;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  #DSDatatables {
    overflow-y: auto;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  #HeaderBar {
    overflow-y: auto !important;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  #footer-sidebar1 p {
    width: 95% !important;
  }

  .widget-title {
    font-size: 20px !important;
  }

  .navbar-nav li a {
    display: block;
    margin-left: 0;
    padding: 10px 0;
  }

  .sub-menu {
    position: relative;
    top: 0;
    width: 100%;
  }

  #transparentcontainer1,
  #transparentcontainer2,
  #transparentcontainer3,
  #transparentcontainer {
    height: 500px;
  }

  input[type="number"][placeholder="XX,XXX"] {
    width: 80px !important;
    margin-left: 20px !important;
    border-radius: 2px !important;
  }

  /* #INPUT_NPS {
        width: 80px !important;
        margin-left: 0px !important;
        padding-right: 5px !important;
        margin-right: 0px !important;
    }

    #NPS_DIV_1 {
        height: 30px !important;
        width: 80px !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
        border-radius: 2px !important;
    } */

  #transparentcontainer3 h1 {
    /* margin:25px; */
    padding: 25px;
  }

  #transparentcontainer3 form,
  #transparentcontainer2 form {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  #transparentcontainer2 h1 {
    /* margin:25px !important; */
    padding: 25px;
  }
}

#transparentcontainer3 h1 {
  margin: 25px;
  margin-top: 0px !important;
}

#transparentcontainer2 h1 {
  margin: 25px;
  margin-top: 0px !important;
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 16px;
  line-height: 25px;
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #000;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #2840ad !important;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

.navbar-light .btn-primary {
  color: #fff;
  background: linear-gradient(90deg, #3958ec -19.27%, #253ba2 100%);
  border-radius: 10.7449px;
  border: none;
  text-transform: capitalize;
  font-family: "Outfit", sans-serif;
  padding: 12px 12px !important;
}

.navbar-light .btn-primary:hover,
.navbar-light .btn-primary:focus {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 0;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: #fff;
    z-index: 9;
    padding: 0 20px;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
  }

  .navbar-light .navbar-brand img {
    max-height: 45px;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent !important;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: #fff !important;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
  }
}

#transparentcontainer {
  position: relative;
}

div#CAGRchart,
div#TransparentCAGRchart {
  position: absolute;
}

/* num2 will be on top of num1 */
div#CAGRchart {
  z-index: 1;
}

div#TransparentCAGRchart {
  z-index: 2;
  border: 1px solid transparent;
  /* height: 390px;
    width: 390px; */
  background: transparent;
  opacity: 0.8;
}

#transparentcontainer1 {
  position: relative;
}

div#ReverseCAGRchart,
div#TransparentCAGRchart1 {
  position: absolute;
}

/* num2 will be on top of num1 */
div#ReverseCAGRchart {
  z-index: 1;
}

div#TransparentCAGRchart1 {
  z-index: 2;
  border: 1px solid transparent;
  /* height: 390px;
    width: 390px; */
  background: transparent;
  opacity: 0.8;
}

#transparentcontainer2 {
  position: relative;
}

div#SIPchart,
div#TransparentSIPchart {
  position: absolute;
}

/* num2 will be on top of num1 */
div#SIPchart {
  z-index: 1;
}

div#TransparentSIPchart {
  z-index: 2;
  border: 1px solid transparent;
  height: 390px;
  width: 100%;
  background: transparent;
  opacity: 0.8;
}

#transparentcontainer3 {
  position: relative;
}

div#EMIchart,
div#TransparentEMIchart {
  position: absolute;
}

/* num2 will be on top of num1 */
div#EMIchart {
  z-index: 1;
}

div#TransparentEMIchart {
  z-index: 2;
  border: 1px solid transparent;
  height: 390px;
  width: 100%;
  background: transparent;
  opacity: 0.8;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.negative_1 {
  color: red;
}

.positive_1 {
  color: green;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 30px;
  background-color: #324ed4;
  border-radius: 30px;
  border: 2px solid white;
}

.toggle:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
  left: 45px;
}

.checkbox:checked + .toggle {
  background-color: #324ed4;
}

.checkbox {
  display: none;
}

.dropdown_hover div:hover {
  background-color: white;
  border-radius: 15px;
  color: #324ed4;
}

.dropdown_hover_1 div:hover {
  background-color: white;
  border-radius: 15px;
  color: #324ed4;
}

#open_price,
#open_price_1,
#low_price,
#low_price_1,
#high_price,
#high_price_1,
#close_price,
#close_price_1 {
  border-radius: 25px;
  width: 125px;
  border: 2px solid #797979;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#levels {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2731%27 height=%2721.969%27%3E%3Cdefs%3E%3Cfilter id=%27a%27 x=%27197%27 y=%27805.312%27 width=%2731%27 height=%2715.688%27 filterUnits=%27userSpaceOnUse%27%3E%3CfeOffset result=%27offset%27 dy=%273%27 in=%27SourceAlpha%27/%3E%3CfeGaussianBlur result=%27blur%27 stdDeviation=%271%27/%3E%3CfeFlood result=%27flood%27 flood-opacity=%27.33%27/%3E%3CfeComposite result=%27composite%27 operator=%27in%27 in2=%27blur%27/%3E%3CfeBlend result=%27blend%27 in=%27SourceGraphic%27/%3E%3C/filter%3E%3Cfilter id=%27b%27 x=%27197%27 y=%27799.031%27 width=%2731%27 height=%2714.969%27 filterUnits=%27userSpaceOnUse%27%3E%3CfeOffset result=%27offset%27 dy=%273%27 in=%27SourceAlpha%27/%3E%3CfeGaussianBlur result=%27blur%27 stdDeviation=%271%27/%3E%3CfeFlood result=%27flood%27 flood-opacity=%27.33%27/%3E%3CfeComposite result=%27composite%27 operator=%27in%27 in2=%27blur%27/%3E%3CfeBlend result=%27blend%27 in=%27SourceGraphic%27/%3E%3C/filter%3E%3C/defs%3E%3Cpath d=%27m212 811.274 13.967 4.85-13.967 4.85-13.967-4.85Z%27 transform=%27translate%28-197 -799.031%29%27 style=%27fill:%23fff;fill-rule:evenodd%27/%3E%3Cpath data-name=%27Rectangle 57 copy 5%27 d=%27m212 805.325 13.967 4.85-13.967 4.85-13.967-4.85Z%27 transform=%27translate%28-197 -799.031%29%27 style=%27filter:url%28%23a%29;fill:%23fff;fill-rule:evenodd%27/%3E%3Cpath data-name=%27Rectangle 57 copy 7%27 d=%27m212 799.026 13.967 4.85-13.967 4.85-13.967-4.85Z%27 transform=%27translate%28-197 -799.031%29%27 style=%27filter:url%28%23b%29;fill:%23fff;fill-rule:evenodd%27/%3E%3C/svg%3E")
    50%/100% 100% no-repeat !important;
  display: block;
  height: 2.2rem;
  margin: auto;
  width: 2.2rem;
}

.pivot_point_description_table tr {
  background-color: white !important;
  height: fit-content !important;
}

@media (min-width:430px) {
  .pivot_point_table{
    display: none !important;
  }
}
@media (max-width:430px) {
  .pivot_point_table{
    display: block !important;
  }
  .pivot_point_description_table {
    display: none !important;
  }
}

tr:nth-child(even) {
  background-color: #efefef;
}

tr {
  height: 3rem;
}

#PIVOT_Cal_Table tbody td:not(:first-child) {
  border-right: 0.2rem solid #fff;
}

#PIVOT_Cal_Table thead th:not(:first-child) {
  border-right: 0.2rem solid #324ed4;
}

.pivot_body_for_mobile input[type="number"] {
  box-sizing: border-box;
  padding-left: 10px !important;
}

input[type="number"][placeholder="XX,XXX"] {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #cdd4f7;
  color: #324ed4;
  font-size: large;
  font-weight: bold;
  padding-right: 5px;
  border-radius: 2px;
}

#Calculate_Income_Tax {
  border-radius: 5px;
  background-color: #324ed4;
  color: white;
  width: fit-content;
  font-size: large;
  font-weight: bold;
}

div #NPS_INFO {
  display: none;
  border-radius: 2px !important;
  background-color: #cdd4f7;
  color: #324ed4;
  font-size: large;
  font-weight: bold;
  text-align: justify;
  padding-left: 5px;
  margin-top: 6px;
}

@media (max-width: 768px) {
  #MobileRiskRadioButtonOption {
    display: flex !important;
  }
}

#PIVOT_Cal_Body_1 {
  position: relative;
}

#PIVOT_Cal_Table td:first-of-type::after {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0, transparent);
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  left: 7rem;
  top: 0;
  width: 0.4rem;
}

#first_col::after {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0,
    transparent
  ) !important;
  z-index: -2 !important;
}

@media (max-width: 1400px) {
  #PIVOT_Cal_Table tbody tr td:first-of-type::after {
    left: 6rem !important;
  }
}

@media (max-width: 1200px) {
  #PIVOT_Cal_Table tbody tr td:first-of-type::after {
    left: 5.5rem !important;
  }

  #PIVOT_Cal_Table_Body {
    font-size: 0.75rem !important;
  }
}

@media (max-width: 992px) {
  #PIVOT_Cal_Table tbody tr td:first-of-type::after {
    left: 4.4rem !important;
  }
}

@media (max-width: 767px) {
  #PIVOT_Cal_Table td:first-of-type::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0, transparent);
    bottom: 0;
    content: "";
    display: none !important;
    position: absolute;
    left: 7rem;
    top: 0;
    width: 0.4rem;
  }

  #PIVOT_Cal_Table tbody td:first-child {
    border-right: 0.2rem solid #fff;
  }
  
  #PIVOT_Cal_Table thead th:first-child {
    border-right: 0.2rem solid #324ed4;
  }
}

.PP_Before::after {
  background-color: white !important;
  border: 15px solid transparent !important;
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(105, 105, 105) !important;
  content: "";
  display: block;
  position: absolute;
  height: 0;
  margin-left: -22px;
  top: 270px !important;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  width: 0;
  z-index: 2 !important;
}

@media (max-width:576px) {
  #ChartDatatable_1 td,
  #ChartDatatable_1 th,
  #highestdeliverynifty500 td,
  #highestdeliverynifty500 th,
  #highestdeliveryfando td,
  #highestdeliveryfando th,
  #deliveryspikenifty500 td,
  #deliveryspikenifty500 th,
  #deliveryspikefando td,
  #deliveryspikefando th {
    font-size: 12px !important;
  }

  .strategy_video{
    font-size: 16px !important;
    padding-right: 0 !important;
  }

  #HDfandotimestamp,#DeliverySpikeTimestamp{
    font-size: 16px !important;
  }
}


/* Trading View Widget */

#widget_mobile_view{
  border-left: 48px solid white;
  border-right: 48px solid white;
  position: absolute; 
  top:12px;
  width:100%; 
  height:38.5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Cal_Des_Widget{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width:768px) {
  #Cal_Des_Widget{
    max-width: 540px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .Cal_Des_Widget{
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  #widget_mobile_view{
    width: 95% !important;
  }
}

@media (max-width:475px) {
  #widget_mobile_view{
    width: 94% !important;
  }
}

@media (max-width:415px) {
  #widget_mobile_view{
    width: 91% !important;
  }
}